body {
  background: linear-gradient(
    108.9deg,
    rgb(163, 217, 221) 10.4%,
    rgb(174, 250, 182) 56.2%,
    rgb(238, 243, 220) 86.1%
  );
}
h1 {
  color: rgb(153, 255, 0);
}
h1 {
  font-size: 68px;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 800;
  font-style: normal;
  box-shadow: 0 0 10px rgba(153, 255, 0, 0.5);
}
h2 {
  color: rgb(153, 255, 0);
}
p {
  font-size: 20px;
}
a {
  font-size: 16px;
}
footer {
  text-align: center;
  padding: 30px;
}
.a button {
  display: block;
  margin-bottom: 10px;
}
.container {
  display: block;
  margin: 65px auto;
  text-align: center;
  max-width: 900px;
  background-color: rgb(124, 72, 215);
  max-width: 800px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 16px;
}
.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.images img {
  max-width: 250px;
  margin: 5px;
  border-radius: 10%;
  box-shadow: 10px 5px 5px rgb(153, 255, 0);
}
.about-the-artist {
  padding: 20px;
  font-size: 24px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-bottom: 20px;
}
.about-the-artist p {
  margin-bottom: 20px;
}
.button-links {
  padding: 20px;
}
.fiverr {
  padding: 20px;
  margin: 10px;
  border-radius: 16px;
  transition: all 200ms ease-in-out;
  width: 300px;
}
.portfolio {
  padding: 20px;
  margin: 10px;
  border-radius: 16px;
  transition: all 200ms ease-in-out;
  width: 300px;
}
.contact-me-button {
  padding: 20px;
  margin: 10px;
  border-radius: 16px;
  transition: all 200ms ease-in-out;
  width: 300px;
}
.button-links button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(153, 255, 0);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease;
}

.button-links button:hover {
  background-color: rgb(102, 204, 0);
  cursor: pointer;
}

.button-links button a {
  text-decoration: none;
}
.fiverr,
.portfolio,
.contact-me-button {
  text-decoration: none;
}
.images img {
  max-width: 250px;
  margin: 5px;
  border-radius: 10%;
  box-shadow: 10px 5px 5px black;
  transition: transform 0.3s ease;
}

.images img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }

  .images {
    justify-content: center;
  }

  .images img {
    margin: 10px 0;
  }

  h1 {
    font-size: 48px;
  }

  .images img:hover {
    transform: none;
  }

  .about-the-artist p {
    text-align: justify;
  }

  .button-links {
    text-align: center;
    margin-top: 20px;
  }

  .button-links button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 10px;
    display: inline-block;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgb(153, 255, 0);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
    transition: background-color 0.3s ease;
  }

  .button-links button:hover {
    background-color: rgb(102, 204, 0);
    cursor: pointer;
  }

  .button-links button a {
    text-decoration: none;
  }
}
